<nav class="navbar navbar-expand-lg bg-primary navbar-absolute" id="navbar">
  <div class="container">
    <div class="navbar-wrapper">
        Logo
    </div>
    <button class="navbar-toggler" mat-button type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/index']" class="nav-link">
            presentation
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/medecins']" class="nav-link">
            nos medecins
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/register']" class="nav-link">
            <em class="material-icons">person_add</em> Register
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/login']" class="nav-link">
            <em class="material-icons">fingerprint</em> Login
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/lock']" class="nav-link">
            <em class="material-icons">lock_open</em> Lock
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
