<div class="wrapper wrapper-full-page m-0 p-0 w-100">
    <div class="page-header header-filter"
         style=" background: white top center;">
        <div class="container mt-5 m-0 w-100 ml-auto mr-auto">
            <h1 class="h1 mt-5 text-center text-danger" style="">Bienvenue dans Notre plateforme d'orientation des projets</h1>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img alt="" class="img-fluid rounded-start w-100" src="/assets/img/dcotor_appintment.jpg">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Pourquoi </h5>
                            <p class="card-text">Profitez du temps que vous avez avec un médecin en qui vous avez confiance. Même les rendez-vous programmés ont tendance à être précipités et peu ciblés lorsque le médecin est occupé et que le patient n'est pas préparé. Selon le magazine Prevention, la plupart des médecins ne passent que 15 minutes avec leurs patients par visite. Utilisez ces cinq conseils pour augmenter les bénéfices que vous tirez d'un rendez-vous.
</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">

                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img alt="..." class="img-fluid rounded-start" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
