<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form>
            <div class="card card-login card-hidden">
                <div class="card-header text-center " id="loginCard">
                    <h4 class="card-title text-white">Sign up</h4>
                </div>
                <div class="card-body ">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <em class="material-icons">face</em>
                      </span>
                    </div>
                    <input class="form-control" placeholder="First Name ..." type="email">
                  </div>
                </span>
                    <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <em class="material-icons">face</em>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Last Name..." type="email">
                  </div>
                </span>
                    <span class="bmd-form-group">
                  <span class="input-group">
                                        <div class="row">
                <label class="col-sm-2 col-form-label">je suis ?</label>
                <div class="col-sm-10 checkbox-radios">
                  <mat-radio-button> médecin</mat-radio-button>
                  <br>
                  <mat-radio-button>patient</mat-radio-button>
                </div>
              </div>
                  </span>
                </span>
                    <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <em class="material-icons">email</em>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Email..." type="email">
                  </div>
                </span>
                    <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <em class="material-icons">lock_outline</em>
                      </span>
                    </div>
                    <input class="form-control" placeholder="Password..." type="password">
                  </div>
                </span>
                </div>
                <div class="card-footer justify-content-center">
                    <button class="btn btn-success btn-lg">sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>

